header{
    background: url('../images/heroBackground.jpg') rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Event Section */
.events-section {
    padding: 60px 0;
    background-color: #f5f5f5;
  }

 .events-section h2 {
    color: #333;
 }
  
  .event {
    margin-bottom: 30px;
  }
  
  .event img {
    width: 200px;
    margin-right: 20px;
  }
  
  .event .details {
    display: flex;
    align-items: center; 
  }
  
 .event .date, 
 .event .location,
 .event .category {
    flex: 1;
  }
  
  .event .btn {
    margin-left: auto;
  }

  /* Suscribe section */
  .subscribe-section {
    padding: 80px 0;
    background-color: #ffdddd;
  }

  .subscribe input[type="email"] {
    max-width: 300px;
  }

  .subscribe .input-group {
    margin: 0 auto; 
  }